@import './_variables';

@import 'node_modules/font-awesome/scss/font-awesome';

@import 'node_modules/normalize.css/normalize';
@import './reset';

@import 'node_modules/stylebox/scss/components/font';
@import 'node_modules/stylebox/scss/components/misc';
@import 'node_modules/stylebox/scss/components/text';
@import 'node_modules/stylebox/scss/components/visual-formatting';
@import 'node_modules/stylebox/scss/components/box-size';

@import './_mixins';
@import './typography';
@import './layout';
@import './themes';
@import './misc';

@include tooltip(
  $z-index:       $z-index-tooltip,
  $color-bg:      $color-black-87,
  $color-fg:      $color-white,
  $color-bg-warn: $color-red
);
