// h1, h2, h3, h4, h5, h6 {
//   line-height: 1.2;
// }

// a {
//   color: $color-link;
//   &:hover {
//     color: darken($color-link, 20%);
//   }
// }

%bg {
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-cover {
  @extend %bg;
  background-size: cover;
}

.square-2em {
  width: 2em;
  height: 2em;
}

.overlay {
  @extend .fix-fit;
  z-index: $z-index-overlay;
}

.shadow-drop {
  box-shadow: 0 1px 3px 1px $color-black-15;
}

.shadow-drop-thick {
  box-shadow: 1px 1px 4px 2px $color-black-15;
}

.panel-red {
  border: 1px solid $color-red;
  background-color: rgba($color-red, 0.05);
}

.popping-3 {
  .popping:nth-child(2) {
    animation-delay: 0.3s;
  }
  .popping:nth-child(3) {
    animation-delay: 0.6s;
  }
  .popping {
    display: inline-block;
    color: $color-blue;
    animation-name: popAnimation3;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }

  @keyframes popAnimation3 {
    0% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.4);
    }
    50%, 100% {
      transform: scale(1);
    }
  }
}

.children-margin-popping > :not(:first-child) {
  margin-left: 0.3em;
}

// Experimental
.last-input-keyboard :focus {
  z-index: 0;
}

.no-pointer-events {
  pointer-events: none;
}

button {
  @include transition;
}
